@model IEnumerable<ICE5.Models.ShowtimeModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>MovieId</th>
            <th>Showtime</th>
            <th>AvailableSeats</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.MovieId</td>
                <td>@item.Showtime</td>
                <td>@item.AvailableSeats</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Create">Create New</a>
